@use "../global";
@use "../utils/variables" as var;

main{
    margin-bottom: 250px;

    .contact{
        .row{
            .contact__left{
                display: grid;
                gap: 15px;
                .number{
                    padding: 20px 25px;
                    display: flex !important;
                    flex-direction: row !important;
                    align-content: center !important;
                    gap:0 !important;

                    .icon-box{
                        margin-right: 25px;
                        background: #ddd;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        padding: 18px;
                        flex-shrink: 0;
                    }

                }

            }

            .contact__right{
                padding: 40px;

                h1{
                    color: #242424;
                    font-family: Open Sans;
                    font-size: 38px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 34px; /* 89.474% */
                }

                p{
                    color: #242424;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                }

                .input-box{
                    gap: 20px;
                    justify-content: space-around;

                    input{
                        outline: none;
                        // max-width: 345px;
                        height: 58px;
                        border-radius: 12px;
                        border: 1px solid rgba(51, 34, 68, 0.10);
                        background: var.$white-color;

                        color: #333;
                        font-family: Open Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    textarea{
                        padding: 20px;
                        border-radius: 14px;
                        border: 1px solid rgba(36, 36, 36, 0.10);
                        background: #FFF;
                        outline: none;
                        color: #333;
                        font-family: Open Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    button{
                        color: var.$white-color;
                        font-family: Open Sans;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                        display: flex;
                        padding: 18px 45px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        border-radius: 39px;
                        background: var.$primary-color;
                    }
                }
            }
        }
    }

    .iframe{
        margin-top: 110px;
        text-align: center;
        

        h1{
            color: #000;
            font-variant-numeric: lining-nums tabular-nums;
            font-family: Cera Round Pro;
            font-size: 38px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 49.4px */
            letter-spacing: 1.14px;
            text-transform: capitalize;
            margin-bottom: 40px;
        }
    }
}